@import "/src/components/sass/reutilizables/colors";

@media (min-width: 847px) {

  .hero-desktop-fondo1 {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("./assets/imagenes/FONDO_01.png");
    height: 100vh;
    background-position: center;
  }
  .hero-desktop {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("./assets/imagenes/FOTODESKTOP.jpg");
    height: 100vh;
    background-position: center;
    position: absolute;
    top: 0;
    width: 100%;

    .hero-titulo {
      width: 100%;
      padding-top: 100px;
      padding-left: 100px;

      img {
        width: 40%;
      }
    }
    .hero-fecha {
 
      div {
        padding-right: 30%;
        span {
          font-size: 3rem;
          font-weight: 400;
          color: $Principal-blanco;
          display: flex;
          justify-content: center;
          font-family: "NEUEHAAS";
          letter-spacing: 5px;
          word-spacing: 5px;
          
        }
        .typed-cursor {
          position: relative;
          right: 8px;
        }
      }
    }
  }
  .mobile-home-hero-fondo1,
  .mobile-home-hero {
    display: none;
  }
  .mobile-home-contador {
    .contenedor-imagen {
      padding-bottom: 70px;
    }
    .contador-titulo {
      padding-bottom: 50px;
      height: 50px;
      min-height: 50px;

      .typed-cursor {
        display: none;
      }
    }
    .home-cuentaRegresiva {
      div {
        display: flex;
        justify-content: space-evenly;
        padding-top: 50px;

        .contador-recuadro {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-top: 0;
          .contador-recuadro-numero {
            width: fit-content;
            height: fit-content;
            padding-top: 0;
            .contador-recuadro-digito {
              width: 8rem;
              height: 8rem;
              padding: 0;
              border-radius: 90%;
              background-color: $Secundario-naranja;
              p {
                font-size: 4rem;
                color: white;
                margin: auto;
              }
            }
          }
          .contador-texto {
            margin-top: 5px;
            padding: 0;
            p {
              padding: 0;
              font-weight: 100;
              text-transform: lowercase;
              font-size: 1.6rem;
              color: $Secundario-naranja;
              width: 100%;
            }
          }
        }
      }
    }
    .contador-subtitulo {
      padding: 50px 0 0;
      width: 60%;
      margin: auto;
    }
  }

  .mobile-sobreBoda {
    background-color: $Principal-gris-claro;

    .sobreBoda-mobile {
      display: none;
    }
    .contenedor-imagen {
      width: 30%;
      margin: auto;
      img {
        width: 100%;
      }
    }

    .sobreBoda-desktop {
      .carousel {
        .carousel-indicators {
          position: absolute;
          margin: 0;
          bottom: 0px;

          button {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: rgb(220, 118, 72, 0.5);
          }
          .active {
            background-color: $Secundario-naranja;
          }
        }
        .carousel-inner {
          .carousel-item {
            height: 300px;
            .sobreBoda-subtitulo {
              text-align: center;
              padding: 40px 0;

              h3 {
                margin: 0;
              }
            }
            .sobreBoda-fecha-hora {
              display: grid;
              grid-template-columns: 45% 10% 45%;
              width: 35%;
              margin: auto;
              height: 200px;
              padding-top: 20px;
              .sobreBoda-fecha {
                grid-column: 1;
                height: max-content;
                p:nth-child(1) {
                  font-size: 4.5rem;
                  font-family: "NT-SEAWAVE";
                  height: 4.5rem;
                }
              }
              .sobreBoda-span {
                grid-column: 2;
                width: 100%;
                height: 50%;

                span {
                  background-color: $Secundario-naranja;
                  width: 2px;
                  height: 100px;
                  display: block;
                  margin: auto;
                  position: relative;
                  top: -10px;
                }
              }
              .sobreBoda-hora {
                grid-column: 3;
                height: max-content;

                p:nth-child(1) {
                  font-size: 4.5rem;
                  font-family: "NT-SEAWAVE";
                  height: 4.5rem;
                }
              }
              p {
                font-size: 1.5rem;
                font-weight: 100;
              }
            }
            .sobreBoda-btn {
              display: flex;
              justify-content: center;
              padding: 20px 0;
            }
          }
        }
      }
    }
  }
  .mobile-dressCode {
    background-color: $Principal-gris-claro;
    padding-top: 0;
    .dressCode-mobile {
      display: none;
    }
    .contenedor-imagen {
      width: 25%;
      margin: auto;
      img {
        width: 100%;
      }
    }

    .dessCode-desktop-contenido {
      display: grid;
      grid-template-columns: 50% 50%;
      padding-top: 50px;

      .dressCode-textos {
        padding: 0;
        text-align: left;
      }

      div {
        margin: auto;
      }
    }

    p {
      padding-bottom: 20px;
    }
    h3 {
      font-size: 1.2rem;

      margin: 0;
    }
  }
  .mobile-carousel {
    overflow-x: hidden;
    padding-bottom: 0 !important;
    p {
      padding: 30px;
      line-height: 28px;
      width: 70%;
    }

    .slider {
      .slider-track {
        display: flex;
        /* overflow-x: scroll; */
        width: calc(400px * 20); //Cantidad de imagenes * 2
        animation: scroll 20s linear infinite alternate;

        &:hover {
          animation-play-state: paused;
        }
        .slide {
          img {
            height: 500px;
            margin: 0 5px;
            perspective: 100px;
          }
        }
      }
    }
  }
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-405px * 10)); //cantidad de iconos
    }
  }
  .mobile-regalos {
    .contenedor-imagen {
      width: 25%;
      margin: auto;
      img {
        width: 100%;
      }
    }
    .regalos-contenido {
      display: grid;
      grid-template-columns: 50% 50%;
      padding: 50px 0;

      div {
        margin: auto;
      }
      .regalos-textos {
        padding: 0;
        p {
          line-height: 35px;
          padding: 0 50px;
        }
      }
    }
  }
  .mobile-formulario {
    background-color: $Principal-gris-claro;

    .formulario-contenido {
      display: grid;
      grid-template-columns: 50% 50%;

      .regalos-textos {
        padding: 0px 50px 50px;
        margin: 120px auto;

        p {
          line-height: 35px;
        }
      }

      .inputs-container {
        padding: 50px;
        input,
        textarea,
        select {
          width: 100%;
          padding: 10px;
          border: none;
          margin: 7px 0;
          font-size: 1rem;
        }
        select {
          width: 100%;
          padding: 10px;
          text-align: left;
          color: gray;
          padding-left: 5px;
          border: none;
          margin: 7px 0;
          border-radius: 0;
        }
        textarea {
          height: 140px;
          text-align: left;
        }
        button {
          margin-top: 20px;
          animation: none;
          width: 100%;
        }

        .modal-open {
          .modal {
            .modal-dialog {
              .modal-content {
                background-color: $Principal-gris-claro;
                border: none;

                .modal-header {
                  display: grid;
                  grid-template-columns: 50% 50%;

                  .modal-title {
                    grid-column: 1;
                    display: flex;
                    justify-content: flex-end;
                    svg {
                      color: $Secundario-naranja;
                      font-size: 2rem;
                    }
                  }
                  button {
                    grid-column: 2;
                    font-size: 1rem;
                  }
                }
                .modal-footer {
                  button {
                    background-color: yellow;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 846px) {
  .hero-desktop, .hero-desktop-fondo1 {
    display: none;
  }
  .mobile-home-hero-fondo1 {
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("./assets/imagenes/FONDO_01.png");
    height: 90vh;
  }

  .mobile-home-hero {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("./assets/imagenes/FONDO_02.png");
    height: 90vh;
    position: absolute;
    top: 0;
    width: 100%;

    .hero-titulo {
      width: 80%;
      padding-top: 100px;
      margin: auto;
      max-width: 400px;

      img {
        width: 100%;
      }
    }

    .hero-fecha {
      text-align: center;
      div {
        padding-left: 40%;
        span {
          font-size: 1.25rem;
          font-weight: 400;
          color: $Principal-blanco;
          display: flex;
          justify-content: center;
          font-family: "NEUEHAAS";
          letter-spacing: 5px;
          word-spacing: 5px;
        }
        .typed-cursor {
          position: relative;
          right: 8px;
        }
      }
    }
  }

  .segunda-imagen {
    height: 100vh;
    transition: background-image 1s ease;
    background-image: url("./assets/imagenes/FONDO_02.png");
  }

  .mobile-home-contador {
    text-align: center;
    .contenedor-imagen {
      padding-bottom: 20px;
    }

    .contador-titulo {
      padding-bottom: 10px;
      font-weight: 100;
      width: 100%;
      margin: auto;
      letter-spacing: 0px;
      padding-top: 15px;

      h1 {
        min-height: 50px;
        margin: 0;
      }

      .typed-cursor {
        display: none;
      }
    }

    .contador-subtitulo {
      padding-bottom: 30px;
      h2 {
        font-size: 1.5rem;
        padding: 5px 0;
      }
      span {
        color: $Textos-negro-claro;
        font-size: 1.5rem;
      }
    }

    .home-cuentaRegresiva {
      padding: 0;

      div {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
        .contador-recuadro {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: fit-content;
          padding: 5px;
          height: fit-content;

          .contador-recuadro-numero {
            width: fit-content;
            height: fit-content;

            .contador-recuadro-digito {
              width: 50px;
              height: 50px;
              padding: 0;
              border-radius: 90%;
              background-color: $Secundario-naranja;
              p {
                font-size: 1.5rem;
                /*  padding-left: 3vw; */
                /*  font-family: "NT-SEAWAVE"; */
                color: white;
                margin: auto;
              }
            }
          }
          .contador-texto {
            margin-top: 5px;

            p {
              padding: 2px 5px;
              font-weight: 700;
              text-transform: lowercase;
              font-size: 1rem;
              color: $Secundario-naranja;
              width: 70px;
            }
          }
        }
        .contador-recuadro:nth-child(1) {
          .contador-recuadro-numero {
            .contador-recuadro-span {
              padding-left: 10px;
            }
          }
        }

        .contador-recuadro:nth-child(4) {
          .contador-recuadro-numero {
            .contador-recuadro-span {
              display: none;
            }
          }
        }
      }
    }
  }

  .mobile-sobreBoda {
    background-color: $Principal-gris-claro;
    padding-bottom: 0 !important;

    .sobreBoda-desktop {
      display: none;
    }

    .contenedor-imagen {
      width: 70%;
      margin: auto;
      img {
        width: 100%;
      }
    }
    .sobreBoda-subtitulo {
      text-align: center;
      padding: 60px 0 10px;
    }

    .sobreBoda-fecha-hora-container {
      .sobreBoda-fecha-hora {
        display: grid;
        grid-template-columns: 40% 10% 50%;

        .sobreBoda-fecha {
          grid-column: 1;
          text-align: right;
          p:nth-child(1) {
            font-size: 4.5rem;
            font-family: "NT-SEAWAVE";
            height: 90px;
          }
        }
        .sobreBoda-span {
          grid-column: 2;
          width: 100%;

          span {
            background-color: $Secundario-naranja;
            width: 2px;
            height: 80%;
            display: block;
            margin: 20px auto 0;
          }
        }
        .sobreBoda-hora {
          grid-column: 3;

          p:nth-child(1) {
            font-size: 4.5rem;
            font-family: "NT-SEAWAVE";
            height: 90px;
          }
        }
      }
      .sobreBoda-lugar {
        text-align: center;
        padding: 70px 0;
        .sobreBoda-lugar-ubicacion {
          padding: 5px 0 15px;
        }
      }

      p {
        font-size: 1rem;
        font-weight: 100;
      }
      button {
        a {
          color: $Principal-blanco;
        }
      }
    }
  }

  .mobile-dressCode {
    background-color: $Principal-gris-claro;
    .dressCode-desktop {
      display: none;
    }
    .contenedor-imagen {
      width: 60%;
      margin: auto;
      img {
        width: 100%;
      }
    }
    p {
      padding-bottom: 10px;
    }
  }
  .mobile-carousel {
    overflow-x: hidden;
    padding-bottom: 0 !important;
    p {
      padding: 10px 0 25px;
      line-height: 28px;
    }

    .slider {
      .slider-track {
        display: flex;
        /*  overflow-x: scroll; */
        width: calc(400px * 20); //Cantidad de imagenes * 2
        animation: scroll 20s linear infinite alternate;

        &:hover {
          animation-play-state: paused;
        }
        .slide {
          img {
            height: 300px;
            margin: 0 5px;
            perspective: 100px;
          }
        }
      }
    }
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 11.5)); //cantidad de iconos
    }
  }

  .mobile-regalos {
    .popup-datosBancarios {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: white;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
      z-index: 1000;
    }

    .contenedor-imagen {
      width: 60%;
      margin: auto;
      img {
        width: 100%;
      }
    }
  }
  .mobile-formulario {
    background-color: $Principal-gris-claro;

    .inputs-container {
      padding: 20px 0 0;
      input,
      textarea,
      select {
        width: 100%;
        padding: 10px;
        border: none;
        margin: 7px 0;
        font-size: 1rem;
      }
      select {
        width: 100%;
        padding: 10px;
        text-align: left;
        color: gray;
        padding-left: 5px;
        border: none;
        margin: 7px 0;
        border-radius: 0;
      }
      textarea {
        height: 140px;
        text-align: left;
      }
      button {
        margin-top: 20px;
        animation: none;
      }

      .modal-open {
        .modal {
          .modal-dialog {
            .modal-content {
              background-color: $Principal-gris-claro;
              border: none;

              .modal-header {
                display: grid;
                grid-template-columns: 50% 50%;

                .modal-title {
                  grid-column: 1;
                  display: flex;
                  justify-content: flex-end;
                  svg {
                    color: $Secundario-naranja;
                    font-size: 2rem;
                  }
                }
                button {
                  grid-column: 2;
                  font-size: 1rem;
                }
              }
              .modal-footer {
                button {
                  background-color: yellow;
                }
              }
            }
          }
        }
      }
    }
  }
}
