@import "/src/components/sass/reutilizables/colors";

@media (max-width: 846px) {
  .mobile-home-hero-fondo1 {
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("./assets/imagenes/FONDO_01.png");
    height: 100vh;
  }

  .mobile-home-hero {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("./assets/imagenes/FONDO_02.png");
    height: 100vh;
    position: absolute;
    top: 0;
    width: 100%;

    .hero-titulo {
      width: 80%;
      padding-top: 100px;
      margin: auto;
      max-width: 400px;

      img {
        width: 100%;
      }
    }

    .hero-fecha {
      text-align: center;
      div {
        padding-left: 40%;
        span {
          font-size: 1.25rem;
          font-weight: 400;
          color: $Principal-blanco;
          display: flex;
          justify-content: center;
          font-family: "NEUEHAAS";
          letter-spacing: 5px;
          word-spacing: 5px;
        }
        .typed-cursor {
          position: relative;
          right: 8px;
        }
      }
    }
  }

  .segunda-imagen {
    height: 100vh;
    transition: background-image 1s ease;
    background-image: url("./assets/imagenes/FONDO_02.png");
  }

  .mobile-home-contador {
    text-align: center;
    .contenedor-imagen{
      padding-bottom: 20px;
    }

    .contador-titulo {
      padding-bottom: 10px;
      font-weight: 100;
      width: 100%;
      margin: auto;
      letter-spacing: 0px;
      line-height: 20px;
      padding-top: 15px;
    }

    .contador-subtitulo {
      padding-bottom: 30px;
      h2 {
        font-size: 1.5rem;
        padding: 5px 0;
      }
      span {
        color: $Textos-negro-claro;
        font-size: 1.5rem;
      }
    }

    .home-cuentaRegresiva {
      padding: 0;

      div {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
        .contador-recuadro {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: fit-content;
          padding: 5px;
          height: fit-content;

          .contador-recuadro-numero {
            width: fit-content;
            height: fit-content;

            .contador-recuadro-digito {
              width: 50px;
              height: 50px;
              padding: 0;
              border-radius: 90%;
              background-color: $Secundario-naranja;
              p {
                font-size: 1.5rem;
                /*  padding-left: 3vw; */
                /*  font-family: "NT-SEAWAVE"; */
                color: white;
                margin: auto;
              }
            }
            
          }
          .contador-texto {
            margin-top: 5px;

            p {
              padding: 2px 5px;
              font-weight: 700;
              text-transform: lowercase;
              font-size: 0.7rem;
              color: $Secundario-naranja;
              width: 70px;
            }
          }
        }
        .contador-recuadro:nth-child(1) {
          .contador-recuadro-numero {
            .contador-recuadro-span {
              padding-left: 10px;
            }
          }
        }

        .contador-recuadro:nth-child(4) {
          .contador-recuadro-numero {
            .contador-recuadro-span {
              display: none;
            }
          }
        }
      }
    }
  }

  .mobile-sobreBoda {
    background-color: $Principal-gris-claro;
    padding-bottom: 0 !important;
    .contenedor-imagen {
      width: 70%;
      margin: auto;
      img {
        width: 100%;
      }
    }
    .sobreBoda-subtitulo {
      text-align: center;
      padding: 60px 0 10px;
    }

    .sobreBoda-fecha-hora-container {
      .sobreBoda-fecha-hora {
        display: grid;
        grid-template-columns: 40% 10% 50%;

        .sobreBoda-fecha {
          grid-column: 1;
          text-align: right;
          p:nth-child(1) {
            font-size: 4.5rem;
            font-family: "NT-SEAWAVE";
            height: 90px;
          }
        }
        .sobreBoda-span {
          grid-column: 2;
          width: 100%;
          span {
            background-color: $Secundario-naranja;
            width: 2px;
            height: 70%;
            display: block;
            margin: auto;
          }
        }
        .sobreBoda-hora {
          grid-column: 3;

          p:nth-child(1) {
            font-size: 4.5rem;
            font-family: "NT-SEAWAVE";
            height: 90px;
          }
        }
      }
      .sobreBoda-lugar {
        text-align: center;
        padding: 50px 0;
        .sobreBoda-lugar-ubicacion {
          padding: 5px 0 15px;
          /*  p{
            text-align: center;
            font-size: 1.25rem;
            color: $Principal-gris-claro;
          } */
        }
      }

      p {
        font-size: 1rem;
        font-weight: 100;
      }
    }
  }

  .mobile-dressCode {
    background-color: $Principal-gris-claro;
    .contenedor-imagen {
      width: 60%;
      margin: auto;
      img {
        width: 100%;
      }
    }
    p {
      padding-bottom: 10px;
    }
  }
  .mobile-carousel {
    overflow-x: hidden;
    padding-bottom: 0 !important;
    p {
      padding: 10px 0 25px;
      line-height: 28px;
    }

    .slider {
      .slider-track {
        display: flex;
        overflow-x: scroll;

        width: calc(400px * 20); //Cantidad de imagenes * 2
        animation: scroll 20s linear infinite alternate ; 

        &:hover {
          animation-play-state: paused;
        }
        .slide {
          img {
            height: 300px;
            margin: 0 5px;
            perspective: 100px;
          }
        }
      }
    }
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 11.5)); //cantidad de iconos
    }
  }

  .mobile-regalos {
    .popup-datosBancarios {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: white;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
      z-index: 1000;
    }

    .contenedor-imagen {
      width: 60%;
      margin: auto;
      img {
        width: 100%;
      }
    }
  }
  .mobile-formulario {
    background-color: $Principal-gris-claro;

    .inputs-container {
      padding: 20px 0 0;
      input,
      textarea,
      select {
        width: 100%;
        padding: 10px;
        border: none;
        margin: 7px 0;
        font-size: 1rem;
      }
      select {
        width: 100%;
        padding: 10px;
        text-align: left;
        color: gray;
        padding-left: 5px;
        border: none;
        margin: 7px 0;
        border-radius: 0;
      }
      textarea {
        height: 140px;
        text-align: left;
      }
      button {
        margin-top: 20px;
        animation: none;
      }

      .modal-open {
        .modal {
          .modal-dialog {
            .modal-content {
              background-color: $Principal-gris-claro;
              border: none;

              .modal-header {
                display: grid;
                grid-template-columns: 50% 50%;

                .modal-title {
                  grid-column: 1;
                  display: flex;
                  justify-content: flex-end;
                  svg {
                    color: $Secundario-naranja;
                    font-size: 2rem;
                  }
                }
                button {
                  grid-column: 2;
                  font-size: 1rem;
                }
              }
              .modal-footer {
                button {
                  background-color: yellow;
                }
              }
            }
          }
        }
      }
    }
  }
}
