@import "/src/components/sass/reutilizables/colors";

.modal-open {

  .modal {
    top: 25vh;
    .modal-dialog {
      .modal-content {
        background-color: $Secundario-naranja;
        border: none;

        .modal-header {
          display: grid;
          grid-template-columns: 50% 50%;
          background-color: $Secundario-naranja;

          .modal-title {
            grid-column: 1;

            margin: auto;
            padding-left: 100px;
            svg {
              color: white;
              font-size: 2.5rem;

              path {
                color: white;
              }
            }
          }
          button {
            grid-column: 2;
            font-size: 1rem;
          }
        }
        .modal-body {
          background-color: white;
          font-size: 1.25rem;
          text-align: center;
          border-bottom-left-radius: 5px ;
          border-bottom-right-radius: 5px ;
          div {
            display: flex;

            p {
              width: 50%;
            }
          }
        }
      }
    }
  }
}
