@import "../reutilizables/colors";
@import "../reutilizables/Tipografias";

body {
  font-family: "NEUEHAAS";
  .mobile-sobreBoda,
  .mobile-home-contador,
  .mobile-dressCode,
  .mobile-carousel,
  .mobile-regalos,
  .mobile-formulario {
    padding: 60px 4vw;

    p {
      text-align: center;
      font-size: 1.5rem;
      color: $Textos-negro-claro;
      /*   line-height: 20px; */
      /* width: 67vw; */
      margin: auto;
    }
  }

  .mobile-dressCode,
  .mobile-regalos,
  .mobile-formulario {
    text-align: center;

    .dressCode-textos,
    .regalos-textos {
      padding: 30px 0 30px;
      h3:nth-child(2) {
        padding: 0px 0;
        margin-bottom: 0px;
      }
      h3 {
        letter-spacing: 2px;
        font-weight: bold;
      }
      p {
        line-height: 28px;
      }
    }
  }

  .mobile-formulario {
    .contenedor-imagen {
      width: 90%;
      margin: auto;

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .mobile-home-contador,
  .mobile-carousel {
    .contenedor-imagen {
      width: 100%;
      margin: auto;
      text-align: center;
      img {
        width: 30%;
      }
    }
  }

  .mobile-sobreBoda,
  .mobile-home-contador,
  .mobile-dressCode,
  .mobile-carousel,
  .mobile-regalos,
  .mobile-formulario {
    button {
      padding: 10px 30px;
      border: none;
      background-color: $Secundario-naranja;
      text-transform: uppercase;
      font-weight: 100;
      color: $Principal-blanco;
      font-size: 0.8rem;
      text-transform: uppercase;
      letter-spacing: 3px;

      animation: ZoomIn 1s infinite;

      @keyframes ZoomIn {
        0% {
          opacity: 1;
          /* transform: translateZ(0px); */
          /* transform: scaleZ(0px); */
          transform: scale(0.95);
        }
        50% {
          opacity: 1;
          transform: scale(1);
        }
        100% {
          opacity: 1;
          transform: scale(0.95);
        }
      }
    }
  }

  h1 {
    /* Titulo contador */
    font-size: 5rem;
    font-family: "Cherolina";
    font-weight: 500;
    line-height: 30px;
  }

  h2 {
    color: $Textos-negro-claro;
    font-weight: 100;
    font-size: 1.5rem;
    margin: 0;
  }
  h3 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8rem;
    color: $Textos-negro;
    letter-spacing: 2px;
  }

  /* Estilos para el mensaje de copiado */
  .copied-message {
    position: absolute;
    top: 0px;
    right: 0;
    background-color: $Secundario-naranja; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 4px 8px; /* Espaciado interno */
    border-radius: 4px; /* Borde redondeado */
    font-size: 12px; /* Tamaño de fuente */
  }

  /* Estilos adicionales para mejorar la apariencia */
  .datos-bancarios-data {
    margin-bottom: 10px; /* Espaciado entre elementos */
    display: flex;
    flex-direction: column;
    margin: 0;
    .tipo-pago {
      margin: 0;
      font-size: 0.6rem;
      font-weight: bold;
      letter-spacing: 3px;
    }
    p {
      margin: 0;
      font-size: 1.25rem;
      width: fit-content;
    }

    /* Estilos para el contenedor del overlay */
    .copied-overlay {
      position: relative;
      display: inline-block;
      cursor: pointer; /* Cambia el cursor al pasar sobre el elemento */
    }
  }
}
