@font-face {
    font-family: "Cherolina";
    src: url("./assets/tipografias/CHEROLINA.TTF") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "NT-SEAWAVE";
    src: url("./assets/tipografias/NT SEAWAVE (ALTERNATIVE).OTF") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "NEUEHAAS";
    src: url("./assets/tipografias/NEUEHAASDISPLAYLIGHT.TTF") format("truetype");
    font-weight: normal;
    font-style: normal;
  }